

.arrow-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.arrow {

    &__to-bottom {
        cursor: pointer;
        position: fixed;
        bottom: 30px;
        display: inline-flex;
        width: 20px;
        height: 20px;
        border-top: 1px solid #bdc3c7;
        border-right: 1px solid #bdc3c7;
        transform: rotate(135deg);
    }
}