
$OpenSansR: "Open Sans", sans-serif;

.f-input {
    font-family: $OpenSansR;
    border-bottom: 1px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-style: italic;
    font-weight: 100;
    color: #fff;
    background: transparent;
    padding: 15px 20px;
    margin-bottom: 30px;
    width: 100%;
    font-size: 16px;

    &:hover {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }

    &::placeholder {
        font-family: $OpenSansR;
        color: #fff;
        font-style: italic;
    }
}

.m-input {
    font-family: $OpenSansR;
    border-bottom: 1px solid #C4C4C4;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-style: italic;
    font-weight: 100;
    color: #000;
    background: transparent;
    padding: 15px 20px;
    width: 100%;
    font-size: 14px;

    @media (max-width: 768px) and (min-width: 576px) {
        padding: 10px 20px;
    }

    @media (max-width: 575px) and (min-width: 300px) {
        padding: 10px 20px;
    }


    &:hover {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }

    &::placeholder {
        font-family: $OpenSansR;
        color: #C4C4C4;
        font-style: italic;
    }
}

.f-error-input {
    color: #fff;
    font-size: 11px;
    margin-top: -13px;
    position: relative;
    top: -30px;
}

.m-error-input {
    color: #ec6022;
    font-size: 11px;
}