$OpenSansR: "Open Sans", sans-serif;
$Oswald: "Oswald", sans-serif;

.header {
    height: 100vh;
    background: url("../../../images/header/bg-lines.svg") no-repeat;
    background-size: 100% 100%;

    @media (min-width: 1400px) {
        .header-dots-mouse {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -85px;
        }
    }

    @media (max-width: 1200px) and (min-width: 1000px) {
        .c-white.fs.fs-18.tt-upper.title {
            font-size: 16px;
        }
    }
    @media (max-width: 999px) and (min-width: 992px) {
        padding-bottom: 100px !important;
    }
    @media (max-width: 991px) and (min-width: 769px) {
        padding-bottom: 100px !important;
    }
    @media (max-width: 768px) and (min-width: 576px) {
        padding-bottom: 100px !important;
    }
    @media (max-width: 575px) and (min-width: 300px) {
        height: auto;
        padding-bottom: 100px !important;
    }

    @media (max-width: 999px) {
        // height: 100vh;

        .c-white.fs.fs-18.tt-upper.title {
            text-align: center;
            margin: 10px 0;
        }
    }

    .logo {
        @media (max-width: 575px) and (min-width: 300px) {
            width: 50%;
        }
    }

    &-bg__smartphone {
    }

    &-img__1 {
        transform: translate(0, -150px);

        @media (max-width: 999px) {
            display: none;
        }
    }

    .phone-link {
        font-family: Oswald;
        text-decoration: none;
        display: inline-flex;

        @media (max-width: 575px) and (min-width: 300px) {
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
        }
    }

    .dots-scroll {
        display: flex;
        flex-direction: column;
        margin: 0;

        @media (max-width: 575px) and (min-width: 300px) {
            margin: 10px 0;
        }

        span {
            display: inline-flex;
            width: 4px;
            height: 13px;
            background: #fff;
            border-radius: 50em;
            margin: 5px;
        }
    }

    .mouse-scroll {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        border: 2px solid #fff;
        width: 28px;
        height: 40px;
        border-radius: 50em;

        @media (max-width: 575px) and (min-width: 300px) {
            margin: 10px 0;
        }

        &__dot {
            border: 1px solid #fff;
            width: 4px;
            height: 8px;
            margin-top: 8px;
            background: #fff;
            border-radius: 50em;
        }
    }

    .arrow-by-btn {
        transform: translate(-100px, 10px) rotate(30deg);

        @media (max-width: 999px) {
            display: none;
        }
    }

    &-dots-mouse {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 55px;

        @media (max-width: 999px) {
            position: relative;
            bottom: 0;
        }
    }
}
