.m-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &__view {
        &_on {
            position: fixed;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            backdrop-filter: blur(7px);
            opacity: 1;
            visibility: visible;
        }
    }

    &-wrapp {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.m-form {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 30px;
    position: relative;
    z-index: 1000;

    @media (min-width: 991px) {
        max-width: 550px;
    }

    &-wrapp {
        background: #fff;
        border-radius: 10px;
        position: relative;
    }

    .m-form-modal-close {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -22px;
        top: -22px;
        width: 50px;
        height: 50px;
        border-radius: 50em;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        background: #fff url("../../../images/icons/close.svg") no-repeat;
        background-position: center;

        @media (max-width: 575px) and (min-width: 300px) {
            right: 0;
            top: 0;
            width: 30px;
            height: 30px;
        }
    }



    // custom elements
    @media (max-width: 575px) and (min-width: 300px) {

        .description__md {
            font-size: 20px;
        }

        .layer-list__content_desc {
            font-size: 11px;
        }

        button {
            font-size: 15px;
        }

        .c-gray-b {
            font-size: 12px;
        }
    }
}
