// Fons-size
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;

}

.fs-22 {
  font-size: 22px;

}

.fs-24 {
  font-size: 24px;

}



.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;

}

.fs-30 {
  font-size: 30px;

}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-46 {
  font-size: 46px;

  @media (max-width: 991px) and (min-width: 769px) {
    font-size: calc(46px / 1.6);
  }
  @media (max-width: 768px) and (min-width: 300px) {
    font-size: calc(46px / 1.9);
  }
}

.fs-80 {
  font-size: 80px;

  @media (max-width: 991px) and (min-width: 769px) {
    font-size: calc(80px / 1.6);
  }
  @media (max-width: 768px) and (min-width: 300px) {
    font-size: calc(80px / 1.9);
  }
}
// Fons-size end
