// Color selector

.c-black {
  color: #000;
}

.c-white {
  color: #fff;
}

.c-blue {
  color: #3498db;
}

.c-blue-b {
  color: #2980b9;
}

.c-gray {
  color: #ecf0f1;
}

.c-gray-b {
  color: #bdc3c7;
}

.c-midnight {
  color: #34495e;
}

.c-midnight-b {
  color: #2c3e50;
}

.c-orange {
  color: #F57F1F;
}

// Color selector end
