
$Oswald: 'Oswald', sans-serif;

.button {
    cursor: pointer;
    font-family: $Oswald;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 50em;
    position: relative;
    z-index: 900;

    &-wht {

        &:hover {
            outline: none;
        }
    
        &:focus {
            outline: none;
        }
    
        &:active {
            outline: none;
        }
    }

    &-ora {
        background: linear-gradient(180deg, #F57E20 0%, #DB2726 100%);

        &:hover {
            outline: none;
        }
    
        &:focus {
            outline: none;
        }
    
        &:active {
            outline: none;
        }
    }

    &-disabled {
        opacity: .3;

        &:hover {
            outline: none;
        }
    
        &:focus {
            outline: none;
        }
    
        &:active {
            outline: none;
        }
    }
}
