$Oswald: "Oswald", sans-serif;

.title {
    font-family: $Oswald;
    text-transform: uppercase;

    @media (max-width: 768px) and (min-width: 576px) {
        text-align: center;
    }

    @media (max-width: 575px) and (min-width: 300px) {
        text-align: center;
    }

    &__h1 {
        font-weight: 600;
    }

    &__h2 {
        font-weight: 400;
    }

    &__h3 {
        font-weight: 200;
    }
}
