
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../../../fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('../../../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('../../../fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }