$OpenSansR: "Open Sans", sans-serif;
$Oswald: "Oswald", sans-serif;

.layer {

    &-bg-triangle {
        .layer-list {

            @media (max-width: 575px) and (min-width: 300px) {
                text-align: center;
                flex-direction: column;
            }
        }
    }

    &-bg-triangle__img {
        background: url("../../../images/sections/one/img-01.svg") no-repeat;
        background-size: 100%;
        background-position: 100%;
        padding: 45px;
        height: 600px;

        @media (max-width: 991px) {
            background: linear-gradient(180deg, #da2526 7.98%, #f57f1f 88.01%);
            padding: 30px;
            border-radius: 1em;
            margin: 30px 0;
            height: auto;
        }

        .description__md {
            @media (max-width: 768px) and (min-width: 576px) {
                text-align: center;
                margin-top: 0;
            }
            @media (max-width: 575px) and (min-width: 300px) {
                text-align: center;
                margin-top: 0;
            }
        }
    }

    &-bg-gray {
        background: url("../../../images/sections/bg/bg-gray.svg") no-repeat;
        background-size: cover;
        padding-bottom: 155px;
    }

    &-bg-sections-two__1 {

    }

    &-bg-sections-three__1 {

        @media (max-width: 999px) {
            .col-lg-6.offset-lg-5.mt-40 {
                margin-top: 0;
            }

            .col-lg-6.offset-lg-5.mt-40 {
                margin-top: 0;
            }

            .ml-50.mb-20.layer-list {
                margin-top: 30px;
            }

            .mb-20.layer-list {
                margin-left: 15px !important;
            }

            &__bg {

                &_one {
                    max-width: 90%;
                    position: absolute;
                }
            }
    
        }
    }

    &-bg-sections-four__1 {
        @media (max-width: 999px) {
            .layer-list {
                padding-left: 0;
            }
        }
    }

    &-list {
        display: flex;

        @media (max-width: 991px) and (min-width: 769px) {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        @media (max-width: 768px) and (min-width: 576px) {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        @media (max-width: 575px) and (min-width: 300px) {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        &__img {
            @media (max-width: 999px) {
                padding: 10px;
            }
        }

        &__content {
            &_title {
            }

            &_desc {
                color: #5e5e5e;
            }
        }

        &-trans {
            &_r20 {
                transform: translate(-20px, 0px);
                @media (max-width: 991px) and (min-width: 769px) {
                    transform: translate(0px, 0px);
                }
                @media (max-width: 768px) and (min-width: 576px) {
                    transform: translate(0px, 0px);
                }
                @media (max-width: 575px) and (min-width: 300px) {
                    transform: translate(0px, 0px);
                }
            }

            &_r40 {
                transform: translate(-40px, 0px);
                @media (max-width: 991px) and (min-width: 769px) {
                    transform: translate(0px, 0px);
                }
                @media (max-width: 768px) and (min-width: 576px) {
                    transform: translate(0px, 0px);
                }
                @media (max-width: 575px) and (min-width: 300px) {
                    transform: translate(0px, 0px);
                }
            }

            &_r60 {
                transform: translate(-60px, 0px);
                @media (max-width: 991px) and (min-width: 769px) {
                    transform: translate(0px, 0px);
                }
                @media (max-width: 768px) and (min-width: 576px) {
                    transform: translate(0px, 0px);
                }
                @media (max-width: 575px) and (min-width: 300px) {
                    transform: translate(0px, 0px);
                }
            }
        }
    }

    .layer-w-desc {
        position: relative;

        @media (max-width: 768px) and (min-width: 576px) {
            text-align: center;
        }
        @media (max-width: 575px) and (min-width: 300px) {
            text-align: center;
        }

        &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 1px;
            top: 10px;
            left: -30px;
            background: #fff;

            @media (max-width: 991px) and (min-width: 769px) {
                background: #f57e20;
            }
            @media (max-width: 768px) and (min-width: 576px) {
                display: none;
            }
            @media (max-width: 575px) and (min-width: 300px) {
                display: none;
            }
        }
    }

    .quote {
        &__profit {
            font-family: $Oswald;
            background: #eee;
        }
    }

    &__img {
        &_rocket {
            margin-top: -70px;
            margin-left: -90px;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}
